.layout {
  max-width: 1480px;
  min-height: 980px;
  width: 100%;
  position: relative;
  margin: 0 auto;

  &__mobilebg {
    display: none;
    @media all and (max-width: 320px) {
      display: block;
      background-image: url(/images/mobilebg.png);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 500px;
      position: absolute;
      top: 60px;
    }
  }

  &__purplelight {
    z-index: 0;
    width: 860px;
    height: 570px;
    background-image: url(/images/purplelight.png);
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 15%;
    @media all and (max-width: 320px) {
      display: none;
    }

    &__purpleball {
      z-index: 0;
      width: 80px;
      height: 65px;
      background-image: url(/images/purpleball.svg);
      position: absolute;
      top: 0%;
      left: 74%;
    }
    &__redball {
      z-index: 0;
      width: 100px;
      height: 95px;
      background-image: url(/images/redball.png);
      position: absolute;
      top: 13%;
      left: 34%;

    }
    &__redballsmall {
      z-index: 0;
      width: 43px;
      height: 40px;
      background-image: url(/images/redballsmall.svg);
      position: absolute;
      top: 94%;
      left: 72%;
    }
  }
}
