.main {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
  @media all and (max-width: 1200px) {
    max-width: 700px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }

    .titleContainer {
      max-width: 362px;
      z-index: 2;
      transition: all 0.4s ease-in-out;

      @media all and (max-width: 550px) {
        text-align: center;
        max-width: 291px;
      }
      @media all and (max-width: 320px) {
        text-align: left;
      }

      .title {
        color: #e4e5ea;
        font-family: "Inter";
        font-size: 48px;
        font-weight: 400;
        margin: 0;

        @media all and (max-width: 550px) {
          font-size: 36px;
        }
      }

      .titleLogo {
        background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 81.36%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Inter";
        font-size: 48px;
        font-weight: 900;
        margin: 0 0 30px;
        @media all and (max-width: 550px) {
          margin: 0 0 15px;
          font-size: 36px;
        }
      }

      .description {
        color: #e4e5ea;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        max-width: 275px;
      }
    }

    .giftsContainer {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      z-index: 2;

      @media all and (max-width: 850px) {
        margin-top: 30px;
        max-width: 362px;
      }
      @media all and (max-width: 550px) {
        max-width: 297px;
      }

      .giftsTitle {
        color: #e4e5ea;
        text-align: right;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        margin: 18px 0 43px 3px;

        @media all and (max-width: 850px) {
          text-align: left;
        }
        @media all and (max-width: 850px) {
          margin: 16px 0 21px 3px;
        }

        &__Logo {
          background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: "Inter";
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.9px;
          text-transform: uppercase;
          @media all and (max-width: 550px) {
            text-transform: lowercase;
            letter-spacing: 0;
          }
        }
      }

      .gifts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 30px;
      }

      .button {
        width: 262px;
        height: 61px;
        background-color: #4077f3;
        border: none;
        color: #e4e5ea;
        text-align: center;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 500;
        margin: 63px 0 0 37px;
        cursor: pointer;
        position: relative;
        transition: all 0.4s ease-in-out;
        &:hover {
          opacity: 0.85;
        }

        @media all and (max-width: 550px) {
          margin: 70px 0 0 18px;
        }
      }

      .button::after {
        content: "";
        position: absolute;
        top: -50%;
        bottom: -50%;
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(hsla(0, 0%, 100%, 0.1)),
          to(hsla(0, 0%, 100%, 0.6))
        );
        background: linear-gradient(
          90deg,
          hsla(0, 0%, 100%, 0.1),
          hsla(0, 0%, 100%, 0.6) 100%
        );
        width: 45px;
        -webkit-animation-name: blick;
        animation-name: blick;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-transform: skewX(-22deg);
        transform: skewX(-22deg);
        left: -65%;
        @keyframes blick {
          60% {
            left: 100%;
          }

          100% {
            left: 130%;
          }
        }
      }
      .giftsMobile {
        display: grid;
        grid-template-columns: 123px 164px;
        gap: 14px 0;
        align-self: center;
      }
    }
  }
}
