.main {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .titleContainer {
      max-width: 362px;

      .title {
        color: #e4e5ea;
        font-family: "Inter";
        font-size: 48px;
        font-weight: 400;
        margin: 0;
      }

      .titleLogo {
        background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 81.36%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Inter";
        font-size: 48px;
        font-weight: 900;
        margin: 0 0 30px;
      }

      .description {
        color: #e4e5ea;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        max-width: 275px;
      }
    }

    .giftsContainer {
      max-width: 300px;

      .giftsTitle {
        color: #e4e5ea;
        text-align: right;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 40px;
        &__Logo {
          background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: "Inter";
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.9px;
          text-transform: uppercase;
        }
      }

      .gifts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 31px;
        &__widgets {
          display: flex;
          flex-direction: column;
          min-width: 135px;
        }

        &__dashboard {
          display: flex;
          flex-direction: column;
          min-width: 135px;
        }

        &__skype {
          display: flex;
          flex-direction: column;
          min-width: 135px;
        }

        &__crm {
          display: flex;
          flex-direction: column;
          min-width: 135px;
        }

        &__title {
          color: #e4e5ea;
          text-align: right;
          font-family: "Inter";
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.9px;
          text-transform: uppercase;
          margin: 0 0 6px;
        }
        &__description {
          color: #e4e5ea;
          text-align: right;
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
