.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1141px;
  margin: 123px auto 0;

  .upperContainer {
    display: flex;
    justify-content: space-between;
    .rightContainer {
      display: flex;  
   
    .about {
      margin-right: 98px;
      &__title {
        color: #656566;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        margin: 0 0 20px;
      }

      &__nav {
        display: flex;
        flex-direction: column;

        &__item {
          color: #e4e5ea;
          font-family: "Inter";
          font-size: 16px;
          font-weight: 400;
          margin: 0 0 10px;
          max-width: fit-content;
          transition: all 0.3s ease-in-out;
          position: relative;

          &:last-child {
            margin: 0;
          }

          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            transition: width 0.3s ease-in-out;
            z-index: 0;
          }
          &:hover {
            opacity: 0.85;
          }
          &:hover::before {
            width: 100%;
          }

          &:active {
            color: rgb(115, 25, 115);
          }
        }
      }
    }

    .menu {
      max-height: 175px;
      &__title {
        color: #656566;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        margin: 0 0 20px;
      }

      &__nav {
        display: flex;
        flex-direction: column;
        max-height: 170px;
        flex-wrap: wrap;
        max-width: 410px;
        justify-content: space-between;

        &__item {
          color: #e4e5ea;
          font-family: "Inter";
          font-size: 16px;
          font-weight: 400;
          margin: 0 0 9px;
          max-width: fit-content;
          transition: all 0.3s ease-in-out;
          position: relative;
          margin-right: 52px;

          &:last-child {
            margin: 0;
          }

          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            transition: width 0.3s ease-in-out;
            z-index: 0;
          }
          &:hover {
            opacity: 0.85;
          }
          &:hover::before {
            width: 100%;
          }

          &:active {
            color: rgb(115, 25, 115);
          }
        }
      }
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__title {
      color: #656566;
      font-family: "Inter";
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      margin: 0 0 18px;
    }
    &__number {
      color: #e4e5ea;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 500;
      margin: 2px 0 21px;
    }
    &__social {
      min-width: 80px;
      margin-bottom: 2px;
    }
    &__address {
      color: #e4e5ea;
      text-align: right;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 400;
    }
  }
}
}
