.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1141px;
  max-height: 100%;
  margin: 123px auto 0;
  transition: all 0.4s ease-in-out;
  @media all and (max-width:1200px) {
    padding: 0 20px;
  margin: 53px auto 0;
  }
  @media all and (max-width:1010px) {
    max-width: 700px;
  }
  @media all and (max-width:440px) {
    padding: 0 15px;
   }

  .title {
    color: #656566;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin: 0 0 20px;

    @media all and (max-width:440px) {
    font-size: 12px;
     }
  }

  .upperContainer {
    display: flex;
    justify-content: space-between;
    @media all and (max-width:1010px) {
      flex-direction: column;
      max-width: fit-content;
    }

    .rightContainer {
      display: flex;
      @media all and (max-width:1010px) {
        flex-direction: column;
        max-width: fit-content;
      }
      @media all and (max-width:440px) {
        margin: 47px 0 0 0;
       }



      .about {
        margin-right: 98px;

        @media all and (max-width:1010px) {
         margin-bottom: 25px;
        }
        @media all and (max-width:440px) {
          margin-bottom: 30px;
         }

        &__nav {
          display: flex;
          flex-direction: column;

          &__item {
            color: #e4e5ea;
            font-family: "Inter";
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 10px;
            max-width: fit-content;
            transition: all 0.3s ease-in-out;
            position: relative;

            @media all and (max-width:440px) {
              font-size: 14px;
              max-width: fit-content;
             }

            &:last-child {
              margin: 0;
            }

            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 1px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              background-color: #fff;
              transition: width 0.3s ease-in-out;
              z-index: 0;
            }

            &:hover {
              opacity: 0.85;
            }

            &:hover::before {
              width: 100%;
            }

            &:active {
              color: rgb(115, 25, 115);
            }
          }
        }
      }

      .menu {
        max-height: 175px;
        width: fit-content;

        @media all and (max-width:1010px) {
          margin-bottom: 25px;
         }
         @media all and (max-width:440px) {
          margin-bottom: 32px;
         }

        &__nav {
          display: flex;
          flex-direction: column;
          max-height: 170px;
          flex-wrap: wrap;
          max-width: 410px;
          justify-content: space-between;


          &__item {
            color: #e4e5ea;
            font-family: "Inter";
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 9px;
            max-width: fit-content;
            transition: all 0.3s ease-in-out;
            position: relative;
            margin-right: 52px;
            @media all and (max-width:440px) {
              font-size: 14px;
              max-width: 111px;
              margin-right: 37px;
             }

            &:last-child {
              margin: 0;
            }

            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 1px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              background-color: #fff;
              transition: width 0.3s ease-in-out;
              z-index: 0;
            }

            &:hover {
              opacity: 0.85;
            }

            &:hover::before {
              width: 100%;
            }

            &:active {
              color: rgb(115, 25, 115);
            }
          }
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: fit-content;
      @media all and (max-width:1010px) {
        align-items: flex-start;
      }

      &__number {
        color: #e4e5ea;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 500;
        margin: 2px 0 21px;
        @media all and (max-width:440px) {
          margin: 0 0 10px;
        }
      }

      &__social {
        min-width: 80px;
        margin-bottom: 2px;
      }

      &__address {
        color: #e4e5ea;
        text-align: right;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        @media all and (max-width:440px) {
          text-align: start;
        }
      }
    }
  }

  .downContainer {
    margin-top: 31px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #E4E5EA;
    text-align: right;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    @media all and (max-width:1010px) {
      width: fit-content;
    }
    @media all and (max-width:440px) {
      text-align: start;
      margin-bottom: 60px;
    }

    .copyright {
      margin: 0 0 5px;
    }
    .privacyPolicy{
      margin: 0;
    }
  }
}